<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.ssm.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.ssm.entity.Admin">
    <!--@mbg.generated-->
    <!--@Table admin-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accName" jdbcType="VARCHAR" property="accname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="crtTime" jdbcType="TIMESTAMP" property="crttime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, accName, `password`, crtTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from admin
    where accName = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qfedu.ssm.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into admin (accName, `password`, crtTime
      )
    values (#{accname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{crttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.qfedu.ssm.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accname != null">
        accName,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="crttime != null">
        crtTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accname != null">
        #{accname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        #{crttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.ssm.entity.Admin">
    <!--@mbg.generated-->
    update admin
    <set>
      <if test="accname != null">
        accName = #{accname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="crttime != null">
        crtTime = #{crttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.ssm.entity.Admin">
    <!--@mbg.generated-->
    update admin
    set accName = #{accname,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      crtTime = #{crttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectByAccName" resultMap="BaseResultMap">
    select
    password
    from admin
    where accName=#{accName}
  </select>
</mapper>